---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{%- if env.staging -%}
User-agent: *
Disallow: /
{%- else -%}
User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml
{%- endif %}
